.AdminManageMods {
    padding: 0px 20px;
    display: block !important;
}

.AdminManageMods-input {
    display: flex;
}

.AdminManageMods .InputGroup {
    flex: 1;
}

.AdminManageMods-input .Button {
    margin-left: 10px;
}

.AdminManageMods-actions {
    min-width: 250px;
}

.AdminManageMods-actions .Button {
    margin-right: 10px;
}
