.UpdateCredentials {
}

.UpdateCredentials-formContainer {
    padding: 0% 10%;
}

.UpdateCredentials form {
    flex: 1;
}

.UpdateCredentials form .InputGroup {
    margin-bottom: 20px;
}

.UpdateCredentials form .Button {
    float: right;
}
