.ChangePassword {
}

.ChangePassword-formContainer {
    padding: 0% 10%;
}

.ChangePassword form {
    flex: 1;
}

.ChangePassword form > * {
    box-shadow: 1px 1px black;
}

.ChangePassword form .InputGroup {
    margin-bottom: 20px;
}

.ChangePassword form .Button {
    float: right;
}

.ChangePassword-errors {
    color: red;
    min-height: 22px;
    font-size: 14px;
    margin-bottom: 5px;
}
