.ForgotPassword {
}

.ForgotPassword-formContainer {
    padding: 0% 10%;
}

.ForgotPassword form {
    flex: 1;
}

.ForgotPassword form .InputGroup {
    margin-bottom: 20px;
}

.ForgotPassword .Button {
    float: right;
}
