.LoginScreen {
}

.LoginScreen-formContainer {
    padding: 0% 10%;
}

.LoginScreen form {
    flex: 1;
}

.LoginScreen form > * {
    box-shadow: 1px 1px black;
}

.LoginScreen form .InputGroup {
    margin-bottom: 20px;
}

.LoginScreen form .Button {
    float: right;
}

.LoginScreen-errors {
    color: red;
    min-height: 22px;
    font-size: 14px;
    margin-bottom: 5px;
}
