.LoginScreen {
}

.LoginScreen-formContainer {
    padding: 0% 10%;
}

.LoginScreen form {
    flex: 1;
}

.LoginScreen form .InputGroup {
    margin-bottom: 20px;
}

.LoginScreen-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
