.Overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 2000;
}

.Overlay-hide {
    display: none;
}

.Overlay-loading {
    animation: Overlay-loading-spin infinite 1s linear;
    width: 100px;
}

.Overlay-success, .Overlay-failed {
    width: 80px;
}

.Overlay-text {
    color: white;
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
    padding: 0 10%;
    max-width: 720px;
}

.Overlay .Button {
    min-width: 80px;
}

@keyframes Overlay-loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
