.ChangeUsername {
}

.ChangeUsername-formContainer {
    padding: 0% 10%;
}

.ChangeUsername form {
    flex: 1;
}

.ChangeUsername form > * {
    box-shadow: 1px 1px black;
}

.ChangeUsername form .InputGroup {
    margin-bottom: 20px;
}

.ChangeUsername form .Button {
    float: right;
}

.ChangeUsername-errors {
    color: red;
    min-height: 22px;
    font-size: 14px;
    margin-bottom: 5px;
}
