.ResetPassword {
}

.ResetPassword-formContainer {
    padding: 0% 10%;
}

.ResetPassword form {
    flex: 1;
}

.ResetPassword form .InputGroup {
    margin-bottom: 20px;
}

.ResetPassword form .Button {
    float: right;
}
